.changpass_save{
    clear: both;
    padding: 15px 0 0;
    
}
#changpass_save{
    background-image: linear-gradient(to right, #00eda4, #6a7df1);
    color: #fff;
    font-size: 21px;
    padding: 20px 45px 20px;
    border-radius: 30px 5px 5px;
    margin: 10px 34px 0px 0px;
    border: none;
    transition: all 0.5s ease;
    position: relative;
    z-index: 0;

}
    #changpass_save:hover{
        border-radius: 5px;
    }

.container{
    clear: both;
    margin: 0 auto;
    position: relative;
    width: 1230px;
    
}
#primary{
    padding-bottom: 100px;
    width: 100%;
    float: left;
    margin: 0;
    position: relative;
}
.form_changepassword{
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.form_changepassword_info{
    display: inline-block;
    line-height: normal;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    font-size: 21px;
}
.form_changepassword_new1{
    width: calc(50% - 20px);
    overflow: visible;
    padding: 0;
    float: left;
    margin-bottom: 20px;
    margin: 0 0 6px;
    position: relative;
    line-height: normal;
}
.form_changepassword_label1{
    padding-bottom: 5px;
    display: inline-block;
    font-weight: normal;
    line-height: 2;
    color: #2b2b2b;
    font-weight: 500;
    letter-spacing: .2px;
    font-size: 21px;
}
.form_changepassword_input1{
    padding: 12px 15px;
    line-height: normal;
    margin: 0;
    outline: 0;
    width: 100%;
}
    .form_changepassword_new1 input:focus {    
        outline-color: #00eda4;
        outline-style: auto;
        outline-width: medium;
    }
    .form_changepassword_new2 input:focus {    
        outline-color: #00eda4;
        outline-style: auto;
        outline-width: medium;
    }
    .form_changepassword_new1 button:focus {    
        outline-color: #00eda4;
        outline-style: auto;
        outline-width: medium;
    }
    .form_changepassword_new2 button:focus {    
        outline-color: #00eda4;
        outline-style: auto;
        outline-width: medium;
    }
.required{
    border: 0;
    color: red;
    font-weight: 700;
}
    .form_changepassword_new1 input[type = 'password']{
        border-color: rgba(0, 0, 0, .15);
        color: #7d7d7d;
        border: 1px solid #7d7d7d;
        border-radius: 30px 5px 5px 5px;
        display: block;
        margin: 0;
        padding: 14px 12px 14px 32px;
        transition: all .3s linear;
        width: 80%;
        appearance: none;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        display: inline;
        box-shadow:#00eda4;
    }
    .form_changepassword_new1 input[type = 'text']{
        border-color: rgba(0, 0, 0, .15);
        color: #7d7d7d;
        border: 1px solid #7d7d7d;
        border-radius: 30px 5px 5px 5px;
        display: block;
        margin: 0;
        padding: 14px 12px 14px 32px;
        transition: all .3s linear;
        width: 80%;
        appearance: none;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        display: inline;
    }
.form_changepassword_new2{
    overflow: visible;
    padding: 0;
    width: calc(50% - 20px);
    margin-bottom: 20px;
    float: right;
    margin: 0 0 6px;
    position: relative;
    line-height: normal;
}
.form_changepassword_label2{
    padding-bottom: 5px;
    display: inline-block;
    font-weight: normal;
    line-height: 2;
    color: #2b2b2b;
    font-weight: 500;
    letter-spacing: .2px;
    font-size: 21px;
}
.form_changepassword_input2{
    padding: 12px 15px;
    line-height: normal;
    margin: 0;
    outline: 0;
    width: 100%;
}
    .form_changepassword_new2 input[type = 'password']{
        border-color: rgba(0, 0, 0, .15);
        color: #7d7d7d;
        border: 1px solid #7d7d7d;
        border-radius: 30px 5px 5px 5px;
        display: block;
        margin: 0;
        padding: 14px 12px 14px 32px;
        transition: all .3s linear;
        width: 80%;
        appearance: none;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        display: inline;
    }
    .form_changepassword_new2 input[type = 'text']{
        border-color: rgba(0, 0, 0, .15);
        color: #7d7d7d;
        border: 1px solid #7d7d7d;
        border-radius: 30px 5px 5px 5px;
        display: block;
        margin: 0;
        padding: 14px 12px 14px 32px;
        transition: all .3s linear;
        width: 80%;
        appearance: none;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        display: inline;
    }
.button_hide_pass{
        background: white;
        border-color: initial;
        vertical-align: middle;
    }
.checkstreng_pass{
    overflow: visible;
    padding: 0;
    float: left;
    margin-bottom: 20px;
    line-height: normal;
    position: inherit;
    bottom: 0;
}
.changpass_save p{
    color: red;
}
@media only screen and (min-width: 1200px) and (max-width: 1380px){
        .container{
            width: 1080px;

        }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .container{
        width: 900px;

    }
    .form_changepassword_new2 input[type = 'text']{
        width: 75%;
        
    }
    .form_changepassword_new1 input[type = 'text']{
        width: 75%;
        
    }
    .form_changepassword_new2 input[type = 'password']{
        width: 75%;
        
    }
    .form_changepassword_new1 input[type = 'password']{
        width: 75%;
        
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .container{
        width: 710px;
    }
    .form_changepassword_new2 input[type = 'text']{
        width: 69%;
        
    }
    .form_changepassword_new1 input[type = 'text']{
        width: 69%;
        
    }
    .form_changepassword_new2 input[type = 'password']{
        width: 69%;
        
    }
    .form_changepassword_new1 input[type = 'password']{
        width: 69%;
        
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .container{
        width: 420px;
    }
    .form_changepassword_new2 input[type = 'text']{
        width: 75%;
        
    }
    .form_changepassword_new1 input[type = 'text']{
        width: 75%;
        
    }
    .form_changepassword_new2 input[type = 'password']{
        width: 75%;
        
    }
    .form_changepassword_new1 input[type = 'password']{
        width: 75%;
        
    }
}
@media only screen and (max-width: 767px){
    .form_changepassword_new1{
        width: 100%;
    }
    .form_changepassword_new2{
        width: 100%;
    }
    #changpass_save{
        font-size: 15px;
    }
    .form_changepassword_info{
        font-size: 17px;

    }
    .form_changepassword_label1{
        font-size: 17px;
    }
    .form_changepassword_label2{
        font-size: 17px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px){
    .container{
        width: 290px;
    }
    .form_changepassword_new2 input[type = 'text']{
        width: 65%;
        font-size: 10px;
    }
    .form_changepassword_new1 input[type = 'text']{
        width: 65%;
        font-size: 10px;
    }
    .form_changepassword_new2 input[type = 'password']{
        width: 65%;
        font-size: 10px;
    }
    .form_changepassword_new1 input[type = 'password']{
        width: 65%;
        font-size: 10px;
    }
    .button_hide_pass img{
        width: 30px;
    }
}
@media only screen and (max-width: 319px){
    .container{
        width: 200px;
    }
    .form_changepassword_new2 input[type = 'text']{
        width: 54%;
        font-size: 10px;
    }
    .form_changepassword_new1 input[type = 'text']{
        width: 54%;
        font-size: 10px;
    }
    .form_changepassword_new2 input[type = 'password']{
        width: 54%;
        font-size: 10px;
    }
    .form_changepassword_new1 input[type = 'password']{
        width: 54%;
        font-size: 10px;
    }
    .button_hide_pass img{
        width: 30px;
    }
}
