

  



.main {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
    font-family: var(--primary-font);
  }
.main:root {
    --font-heading: Sen, sans-serif;
    --primary-color: black;
    --primary-font: "Poppins", sans-serif;
    --second-color: #00eda4;
  }
  /*========== banner ======= */
  .banner {
    max-width: 100%;
    height: 600px;
    left: 50%;
    overflow: hidden;
  }
  
  /* ======= Course ======== */
  .course .container {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .course .container {
    display: inline-flex;
  }
  
  .course .container .stamp {
    display: inline-block;
    padding: 10px;
    font-family: var(--font-heading);
    background-color: #ffd23c;
    margin: 20px 20px 50px 0;
  }
  .course .container .stamp {
    font-size: 20px;
    font-weight: 400;
  }
  .container .left_content .left_title {
    display: -webkit-box;
    font-size: 27px;
    font-family: var(--font-heading);
    font-weight: 500;
    margin-bottom: 20px;
  }
  .container .left_content .left_title .des_title {
    background-color: #00eda4;
    margin-left: 20px;
    color: aliceblue;
    border-radius: 20px;
    font-size: 24px;
    padding: 10px 20px;
  }
  
  .container .left_content .info {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    position: relative;
  }
  .container .left_content .info::after {
    position: absolute;
    left: 165px;
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: #acacaa;
    border-radius: 1px;
  }
  .container .left_content .avatar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .avatar img {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }
  .avatar .name_avatar {
    margin-left: 30px;
    font-size: 27px;
    font-family: var(--font-heading);
    margin-bottom: 0;
  }
  .avatar .name_avatar:hover {
    color: #00eda4;
    cursor: pointer;
  }
  
  .info .slot {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0;
    margin: 10px 15px 10px 50px;
  }
  .info .slot::after {
    position: absolute;
    left: 215px;
    content: "";
    display: inline-table;
    width: 4px;
    height: 20px;
    background: #acacaa;
    border-radius: 1px;
  }
  
  .slot .des_slot {
    margin-left: 10px;
    margin-bottom: 0;
  }
  
  .info .review {
    display: flex;
    margin-left: 40px;
    align-items: center;
  }
  .info .review p {
    font-size: 25px;
    font-family: var(--font-heading);
    margin-left: 10px;
  }
  
  .left_content .share_course {
    margin-top: 20px;
    display: flex;
    font-size: 22px;
    font-family: var(--font-heading);
    font-weight: 500;
  }
  .share_course .social_medial {
    font-size: 25px;
    padding-left: 16px;
  }
  .social_medial .fa_brands {
    margin-left: 10px;
  }
  #fa_icon{
    padding: 0 10px;
  }
  #fa_clock{
    font-size: 15px;
  }
  .right_content {
    display: flex;
    justify-content: space-around;
    padding: 20px 40px;
    background: linear-gradient(to right, #00eda4, #6a7df1);
    border-radius: 30px 10px 10px 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
  }
  .right_content .btn_cart {
    font-size: 20px;
    color: aliceblue;
    font-weight: 500;
    font-family: var(--font-heading);
  }
  
  .right_content:hover {
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
  /* ============== list product ============= */
  .list_nav {
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fcb900;
    height: 130px;
    font-size: 22px;
    font-family: var(--font-heading);
    color: aliceblue;
    list-style: none;
  }
  .list_nav li {
    cursor: pointer;
    padding: 20px;
    width: 100%;
    height: 100%;
    line-height: 80px;
    text-align: center;
    font-weight: 700;
  }
  .list_nav li:hover {
    color: #000;
  }
  
  .list_nav .supp2::after {
    position: absolute;
    bottom: 50px;
    content: "";
    display: block;
    width: 3px;
    height: 40px;
    background: #fff;
    border-radius: 1px;
    margin-right: 20px;
  }
  .list_nav .supp3::after {
    position: absolute;
    bottom: 50px;
    content: "";
    display: block;
    width: 3px;
    height: 40px;
    background: #fff;
    border-radius: 1px;
    margin-right: 20px;
  }
  .list_nav .supp4::after {
    position: absolute;
    bottom: 50px;
    content: "";
    display: block;
    width: 3px;
    height: 40px;
    background: #fff;
    border-radius: 1px;
    margin-right: 20px;
  }
  
  /* =========== info list ============== */
  .info_list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    margin-bottom: 50px;
  }
  .info_list .title_info {
    margin-top: 20px;
    position: relative;
    font-size: 25px;
    font-family: var(--primary-font);
    font-weight: 700;
  }
  .info_list .title_info:after {
    position: absolute;
    left: 0px;
    bottom: -10px;
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    background: var(--second-color);
    border-radius: 1px;
  }
  .info_list .title_sub {
    width: 900px;
    margin-top: 40px;
    
    font-size: 25px;
    font-family: "Poppins";
    font-weight: 900;
    padding: 20px 26px;
    background-color: var(--second-color);
    border-radius: 10px;
  }
  
  .info_list .des_sub {
    margin-top: 20px;
    color: #686868;
    font-size: 20px;
    font-family: "poppins";
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    cursor: pointer;
    list-style: none;
  }
  #fa_wordpress {
    background-color: var(--second-color);
    padding: 10px;
    border-radius: 100%;
    color: #fff;
  }
  
  /* ====================== author =============== */
  .author {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    height: 1200px;
    background-color: #00eda4;
  }
  .author .container {
    margin: 0 auto;
  }
  /* ====== top ===== */
  .author .block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .author .top_content .title {
    font-size: 50px;
    font-family: "poppins";
    font-weight: 900;
    
  }
  .author .top_content .des {
    display: block;
    margin-top: 10px;
    color: #fff;
    font-size: 25px;
    font-weight: 100;
    font-family: var(--primary-font);
  }
  
  /* ===== bot ==== */
  .bot_content {
    display: flex;
    gap: 30px;
    margin-top: 55px;
  }
  .course_item {
    width: 420px;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
    flex: 1;
  }
  .course_item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  
  .course_item a img {
    margin: -1px;
    width: 394px;
    width: calc(100% + 2px);
    border-radius: 12px 12px 0px 0px;
    height: 200px;
  }
  .course_item .info {
    padding: 16px 22px 22px;
  }
  .info .stamp {
    display: inline-block;
    padding: 8px;
    font-family: var(--font-heading);
    background-color: #ffd23c;
    margin: 10px 10px 20px 0;
  }
  .info .stamp {
    font-size: 16px;
    font-weight: 400;
  }
  
  .course_item .info .des {
    color: #9e9e9e;
    font-size: 16px;
    font-family: "poppins";
    cursor: pointer;
    margin-bottom: 20px;
  }
  .course_item .info .des:hover {
    color: rgb(67, 67, 191);
  }
  .course_item .info .sub {
    position: relative;
    display: block;
    font-size: 23px;
    font-family: "poppins";
    cursor: pointer;
    font-weight: 900;
  }
  .course_item .info .sub::after {
    position: absolute;
    left: 0px;
    bottom: -10px;
    content: "";
    display: block;
    width: 380px;
    height: 2px;
    background: #ccc;
    border-radius: 1px;
  }
  .course_item .info .sub:hover {
    color: rgb(67, 67, 191);
    transition: all 0.3s linear 0s;
  }
  
  .course_item .info .des_sub {
    line-height: 2;
    margin-top: 40px;
    color: #797777;
    font-size: 20px;
  }
  
  .author_sub .avatar {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .author .name_avatar {
    display: block;
    margin-right: 20px;
  }
  .author_sub .price {
    background-color: #00eda4;
    margin-left: 20px;
    color: aliceblue;
    border-radius: 20px;
    font-size: 23px;
    padding: 5px 10px;
  }
  .info .btn {
    margin: 0px auto;
    margin-top: 30px;
    font-size: 20px;
    color: aliceblue;
    font-weight: 500;
    font-family: var(--font-heading);
    display: flex;
    width: 200px;
    justify-content: space-around;
    padding: 20px 20px;
    background: linear-gradient(to right, rgb(0, 237, 164), rgb(106, 125, 241));
    border-radius: 30px 10px 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
  }
  .info #btn_2 {
    margin-bottom: 15px;
  }
  
  .info .btn:hover {
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  /* ========= review ========= */
  .reviewer {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }
  .review #fa_review{
    color: rgb(255, 195, 0)
  }
  
  .cover_top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  .reviewer .top_content .title {
    font-size: 50px;
    margin-bottom: 0;
    font-weight: 900;
    font-family: "poppins";
  }
  
  .reviewer .top_content .des {
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    font-family: var(--primary-font);
    color: rgb(155, 155, 155);
  }
  
  .bot_content {
    position: relative;
    display: flex;
    margin-top: 50px;
  }
  /* .bot-content::after {
  } */
  .review_item {
    display: inline-block;
    margin: 30px;
    font-family: "poppins";
    text-align: center;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 55px 49px 65px;
    margin-bottom: 25px;
    width: 359px;
    height: 460px;
    text-align: center;
    cursor: all-scroll;
  }
  .review_item:hover {
    background-color: #fff;
    transition: all 0.2s ease-in-out;
  }
  .rv_avatar img {
    border-radius: 100%;
    width: 120px;
    height: 120px;
  }
  .rv_avatar img:hover {
    border: solid 10px var(--second-color);
  }
  .review_item .name {
    font-size: 20px;
    font-weight: 900;
    font-family: "poppins";
    padding-top: 20px;
  }
  .review_item .name:hover {
    color: #00eda4;
  }
  
  .review_item .des {
    padding-top: 20px;
    font-family: "poppins";
    margin-left: auto;
    padding-left: 0;
    display: block;
    font-weight: 300;
    font-size: 16px;
    color: #474747;
  }
  
  .review_item .quote {
    color: rgb(122, 117, 117);
    padding-top: 40px;
    font-weight: 300;
    font-size: 19px;
    font-style: normal;
    letter-spacing: 1px;
  }
  
  .rv_item2 {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.4);
    border-radius: 50px 10px 10px 10px;
  }
  
  .dots {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dots .dot {
    margin-right: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
  }
  .dots .dot_active {
    margin-right: 6px;
    width: 45px;
    height: 10px;
    border-radius: 10px;
    background: var(--second-color);
    cursor: pointer;
  }
  
  /* ======== top footer ========== */
  .top_footer {
    margin-top: 100px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .top_footer .title {
    font-size: 50px;
    font-weight: 900;
    font-family: "poppins";
  }
  
  .top_footer .des {
    padding-top: 20px;
    display: block;
    font-size: 20px;
    color: #686868;
    text-align: center;
  }
  
  .btn_join {
    margin: 0px auto;
    margin-top: 90px;
    font-size: 20px;
    color: aliceblue;
    font-weight: 500;
    font-family: var(--font-heading);
    display: flex;
    width: 300px;
    justify-content: space-around;
    padding: 30px 20px;
    background: linear-gradient(to right, rgb(0, 237, 164), rgb(106, 125, 241));
    border-radius: 30px 10px 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
  }
  
  .btn_join:hover {
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    background-color: linear-gradient(to right, #00eda4, #6a7df1);
  }
  /* Modal */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 9999;
    padding-bottom: 20px;
    
  }
  
  .modalContent {
    position: relative;
    background-color: #fff;

    width: 100%;
     /* Add this line to enable scrolling */
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #999;
  }
  
  /* Video */
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    padding-top: 30px;
    height: 0;
    margin-right: 40px;
    overflow: hidden;
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .videoWrapper object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .videoWrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Instructions */
  .instructions {
    /* Căn chỉnh và khoảng cách cho hướng dẫn và thông tin đi kèm */
  }
  
  /* Lesson Title */
  .lessonTitle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #007bff;
  }
  
  .lessonTitle:hover {
    text-decoration: underline;
  }
  
  #dtlms_course_curriculum_popup {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dtlmsCourseCurriculumPopupHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #f9f9f9aa;
    padding: 30px 20px 30px 40px;
  }
  
  .dtlmsCourseCurriculumPopupHeader h2 {
    flex: 1;
    margin: 0;
  }
  .dtlmsCourseCurriculumPopupHeader h3 {
    flex: 2;
    margin: 0;
  }
  
  
  .dtlmsCourseCurriculumPopupHeader h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .dtlmsCourseCurriculumPopupHeader img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  /* .dtlmsCourseCurriculumPopupHeader img:hover {
    background-color: #000;
  } */
  .dtlmsRefreshCourseCurriculum:hover{
    background-color: #95e9cf;
    
  }
  .dtlmsCloseCourseCurriculumPopup:hover{
    background-color: #95e9cf;
    
  }
  .body_modal{
    display: -webkit-box;
    margin-top: 50px;
    margin-bottom: 100px;
    overflow-x: hidden;
  }
  
  .dtlmsRefreshCourseCurriculum {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    padding-left: 5px;
  }
  .dtlmsCloseCourseCurriculumPopup {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    padding-left: 5px;
  }
  
  
  .dtlmsCurriculumIntroDetailsMeta {
    font-size: 14px;
  }
  
  .dtlmsCurriculumDuration {
    background-color: #f9a825;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 2px;
  }
  
  .dtlmsCourseCurriculumPopupHeader h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .dtlmsColumn {
    width: 20%;
    float: left;
    margin-right: 3%;
  }
  
  .dtlmsOneFifth {
    width: 20%;
    background-color: #f9f9f9;
    height: max-content;
  }
  
  .dtlmsToggle a {
    color: #333;
    text-decoration: none;
  }
  
  .dtlmsToggleContent {
    display: none;
    margin-top: 10px;
    transition: all 0.3s linear 0s;
  }
  
  .dtlmsCurriculumList {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  .dtlmsCurriculumMetaIcon {
    width: 20px;
    text-align: center;
    float: left;
    margin-right: 10px;
  }
  
  .dtlmsCurriculumMetaTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .dtlmsCurriculumMetaDuration span {
    background-color: #f9a825;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 2px;
  }
  
  .dtlmsFourFifth {
    width: 70%;
    margin-left: 50px;
    
  }
  .scrollable {
    max-height: 700px;
    overflow-y: inherit;
    overflow-x: hidden; /* Thêm dòng này để ẩn thanh cuộn ngang */
    margin-bottom: 100px;
  }
  /* Cho các trình duyệt WebKit (Chrome, Safari) */
/* Thanh cuộn nằm ngang */
.scrollable::-webkit-scrollbar {
  width: 8px; /* Độ rộng của thanh cuộn */
  background-color: transparent;
}

.scrollable::-webkit-scrollbar-track {
  background-color: transparent; /* Màu nền của thanh cuộn */
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #00eda4; /* Màu sắc của thanh cuộn */
  border-radius: 5px; /* Border radius của thanh cuộn */
}

/* Thanh cuộn nằm dọc
.scrollable::-webkit-scrollbar-vertical {
  width: 8px; Độ rộng của thanh cuộn
}

.scrollable::-webkit-scrollbar-track-vertical {
  
}

.scrollable::-webkit-scrollbar-thumb-vertical {
  background-color: #00eda4; Màu sắc của thanh cuộn
} */


#fix_lesson{
  font-size: 16px;
  color: #000;
}
#fix_lesson i{
  font-size: 13px;
  float: right;
}
#fix_lesson li{
  margin-right: 10px;
}

  .scrollable p{
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    margin-right: 50px ;
    text-align: center;
  }
  
  .dtlmsFourFifth::-webkit-scrollbar {
    width: 10px;
    
  }
  /* Điều chỉnh màu sắc cho thanh cuộn */
.nicescroll-cursors {
  /* Màu nền thanh cuộn */
  background-color: #f0f0f0;
}

/* Màu sắc khi di chuột qua thanh cuộn */
.nicescroll-cursors:hover {
  /* Màu nền khi di chuột qua thanh cuộn */
  background-color: #ccc;
}

/* Màu sắc thanh cuộn */
.nicescroll-cursors div {
  /* Màu sắc thanh cuộn */
  background-color: #333;
}

  
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    padding-right: 20px;
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #dtlms-ajax-load-image {
    display: none;
  }
  
  .dtlmsLoaderInner {
    text-align: center;
  }
  
  .dtlmsLoading,
  .dtlmsPad {
    display: inline-block;
  }
  
  .dtlmsLoading {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  .dtlmsPad {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
  
  .dtlmsLine {
    height: 10px;
    width: 4px;
    background-color: #333;
    display: inline-block;
    margin-right: 3px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .dtlmsToggle {
    cursor: pointer;
    transition: transform 1s ease-in-out;
  }
  .dtlmsToggle img{
    float: right;
  }
  
  .dtlmsToggle .active {
    transform: rotate(180deg);
  }
  