.password_reset{
    overflow: hidden;
    display: inline-block;
    transform: translate(11%, 0%);
}
    .password_reset div{
        display: block;
    }
.user_form{
    text-align: center;
    width: 1230px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 232, 237);
    border-image: initial;
    padding: 40px;
    margin: 0px auto;
    background-color: #fafafa !important;
    border-top: 6px solid;
    border-color: #8fae1b;

}
.user_form_title{
    text-align: center;
    font-family: system-ui, Roboto, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: rgb(68, 68, 68);
    margin-top: 20px;
}
.user_form_info{
    font-size: 15px;
    line-height: 17px;
    color: rgb(125, 125, 125);
    margin-top: 20px;

}
.password_reset_form{
    margin-top: 30px;
}
.field_set_email{
    display: block;
    margin: 0 auto 20px;
}
    .password_reset_form fieldset{
        border: none;
        margin: 0;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;  
        padding: 0px;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
    }
    
.form_captcha{
    width: 300px;
    margin: 0 auto;
    padding-top: 5px;
}
.submit_forgotpass{
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased!important;
    border: none;
    cursor: pointer;
    padding: 10px 16px;
    white-space: nowrap;
    width: 320px;
    height: 45px;
    background-color: #81b536;
    background-image: none;
    box-shadow: 0 2px 0 0 #709a3c;
    border-radius: 4px;
    font-family: system-ui,Roboto,Arial,sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    align-items: center;
}
.user_form_info a{
    color: #035dd9;
    text-decoration: none;
    border: none;

}
.submit_forgotpass img{
    margin-left: 5px;
    
}
.input_field{
    display: block;
    width: 95%;
    padding: 10px;
    font: normal 14px system-ui,Roboto,Arial,sans-serif;
    margin: 0 auto;
    border: 1px solid #c1d0d9;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px hsla(0,0%,40%,.1);
    background-color: #fefefe;
}
.passwordreset_sent_info{
    line-height: 17px;
}
.passwordreset_sent_image{
    margin: 20px auto 40px;
    width: 120px;
}
/* .passwordreset_sent_gif{
    margin: 20px auto 40px;
    width: 250px;
}
.user_form_info img{
    overflow-clip-margin: content-box;
    overflow: clip;
} */
@media only screen and (min-width: 1200px) and (max-width: 1380px){
    .user_form{
        width: 1080px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .user_form{
        width: 900px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .user_form{
        width: 710px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .user_form{
        width: 420px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px){
    .user_form{
        width: 290px;
    }
}
@media only screen and (max-width: 319px){
    .user_form{
        width: 200px;
    }
}
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Đặt lớp Z-index cao hơn các thành phần khác trên trang */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: #fff;
    /* Tùy chỉnh kiểu dáng modal */
    z-index: 9999; /* Đặt lớp Z-index cao hơn các thành phần khác trong modal */
  }
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .user_form_info img {
    animation: slideIn 1s ease-in-out;
  }
  